<h1>Movies</h1>

<% min_idx = 0 %>
<% max_idx = @movies.count - 1 %>
<% columns = 6 %>

<% @movies.each_with_index do |movie, i| %>
    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="movie span2">
        <h4>
            <%= link_to(movie_path(movie)) do %>
                <span class="movie-image"><%= image_tag(movie.image_cached || 'series-image-placeholder.png', width: '100%', alt: nil, class: 'img-rounded') %></span>
                <span class="movie-title"><%= movie.title %></span>
            <% end %>
        </h4>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
