<h1>Movies</h1>

<% min_idx = 0 %>
<% max_idx = @movies.count - 1 %>
<% columns = 6 %>

<% @movies.each_with_index do |movie, i| %>
    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="movie span2">
        <div class="movie-image"><%= link_to(image_tag(movie.image_cached || 'series-image-placeholder.png', width: '100%', alt: nil, class: 'img-rounded'), movie_path(movie)) %></div>
        <div class="movie-title"><h4><%= link_to(movie.title, movie_path(movie)) %></h4></div>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
