<h1>Movies</h1>

<% min_idx = 0 %>
<% max_idx = @movies.count - 1 %>
<% columns = 6 %>

<% @movies.each_with_index do |movie, i| %>
    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="poster span2">
        <% if movie.image_cached %>
            <%= link_to('', movie_path(movie), class: 'poster-image', style: "background-image: url(#{movie.image_scaled(*Movie::DEFAULT_IMAGE_SIZE)});") %>
        <% else %>
            <%= link_to(movie_path(movie), class: 'poster-title') do %><span><%= movie.title %></span><% end %>
        <% end %>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
