<h1>Files <small><%= @path %></small></h1>

<ul class="unstyled">
    <% @filenames.each do |filename| %>
        <% relpath = @relpath.empty? ? filename : File.join(@relpath, filename) %>
        <% abspath = File.join(@abspath, filename) %>
        <% icon = File.directory?(abspath) ? 'folder-close' : 'file' %>
        <% icon = 'film' if icon == 'file' && VideoFile::EXTENSIONS.include?(File.extname(filename)[1..-1]) %>
        <li>
            <i class="icon icon-<%= icon %>"></i>
            <%= link_to filename, files_path(relpath) %>
        </li>
    <% end %>
</ul>
