<div class="row-fluid">
    <div class="span2"><h1>Files <small><%= @path %></small></h1></div>
    <div class="span3 pull-right">
        <%= link_to(refresh_files_path, class: 'button', style: 'margin-top: 1.6em;') do %>
            <i class="icon icon-refresh"></i> Find new media
        <% end %>
    </div>
</div>

<ul class="unstyled">
    <% @filenames.each do |filename| %>
        <% relpath = @relpath.empty? ? filename : File.join(@relpath, filename) %>
        <% abspath = File.join(@abspath, filename) %>
        <% icon = File.directory?(abspath) ? 'folder-close' : 'file' %>
        <% icon = 'film' if icon == 'file' && VideoFile::EXTENSIONS.include?(File.extname(filename)[1..-1]) %>
        <li>
            <i class="icon icon-<%= icon %>"></i>
            <%= link_to filename, file_path_path(path: relpath) %>
        </li>
    <% end %>
</ul>
