* {
  cursor: none;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 200%;
  line-height: 1.4em;
  color: #fff;
  background: -webkit-radial-gradient(transparent, rgba(0, 0, 0, 0.5)),
              -webkit-linear-gradient(45deg, #1a1a1a 20%, #222 20%, #242424);
  background-size: 100% 100%, 0.5em 0.5em;
  background-attachment: fixed;
  margin: 1em 1em 2em;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Economica', sans-serif;
  background: -webkit-linear-gradient(#fff 50%, #cea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin: 0.2em 0 0.6em 0;
}

h1 {
  line-height: 1.1em;
}
h2, h3 {
  line-height: 1.6em;
}
h4, h5, h6 {
  line-height: 1.4em;
}

h1 { font-size: 3.00em; }
h2 { font-size: 1.96em; }
h3 { font-size: 1.53em; }
h4 { font-size: 1.09em; }
h5 { font-size: 0.87em; }
h6 { font-size: 0.74em; }

li { line-height: 1.4em; }

a {
  color: #af4;
}

a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: inherit;
}

a.active {
  outline: 0;
  color: #fff;
  text-shadow: 0 0 0.5em #af4;
  text-decoration: none;
}

a.button {
  display: block;
  margin: 0.5em 0;
  padding: 0.2em;
  color: #fff;
  box-shadow: 0 0 0.0em 0.1em #333;
  background: #1a1a1a;
  text-align: center;
  border-radius: 0.2em;
}

a.button i.icon {
  font-size: 0.8em;
  margin-right: 0.5em;
}

a.button.active {
  color: #af4;
  box-shadow: 0 0 0.0em 0.1em #af4,
              0 0 0.6em 0.0em #af4;
  text-shadow: none;
}

label, input, button, select, textarea {
  font-size: inherit;
  line-height: 1em;
  -webkit-transition: none !important;
}

input[type="text"] {
  color: #222;
  font-size: 0.8em;
  line-height: 1em;
}

input[type="radio"] {
  -webkit-appearance: none;
  display: block;
  background: #fff;
  height: 0.7em;
  width: 0.7em;
  border-radius: 0.4em;
  margin-right: 0.5em;
}

input[type="radio"]:checked {
  background: -webkit-radial-gradient(#000 30%, #fff 40%);
}

textarea:focus,
input[type="text"]:focus,
input[type="radio"]:focus {
  outline: 0;
  border-color: transparent;
  box-shadow: 0 0 0.0em 0.2em #222,
              0 0 0.0em 0.3em #af4,
              0 0 1.0em 0.3em #af4;
}

[class^="icon-"], [class*=" icon-"] {
  width: inherit;
  height: inherit;
  line-height: inherit;
  background-image: none;
}

.al { text-align: center; }
.ac { text-align: center; }
.ar { text-align: center; }

.img-rounded {
  border-radius: 1em;
}

.home h2 {
  font-size: 2em;
  line-height: 1.3em;
  background: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.poster {
  margin-bottom: 1.2em;
}

.poster a, a.img, a .img {
  border: 2px solid #222;
  border-radius: 0.6em;
  display: block;
}

.poster a img, a.img img, a .img img {
  border-radius: 0.5em;
}

.poster a.active, a.img.active, a.active .img {
  border-color: #fff;
  box-shadow: 0 -0.3em 1.8em #af4, 0 0 0.5em #fff;
}

.poster-image,
.poster-title {
  width: 100%;
  height: 11.9em;
}

.poster-image {
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #000;
}

.poster-title {
  color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a1a1a), color-stop(0.7, #0a0a0a));
  box-shadow: inset 0 0 0.5em #0a0a0a;
}

.poster-title span {
  display: block;
  padding: 0.8em;
  font-size: 1.2em;
  font-family: 'Economica', sans-serif;
  font-weight: bold;
}

.feed-item {
  margin-bottom: 1.5em;
}

.feed-item a {
  border: none;
  color: #fff;
  display: block;
  box-shadow: none !important;
  text-shadow: none;
}

.feed-item .video-img,
.feed-item .video-txt,
.feed-item .tweet-text {
  display: block;
}

.feed-item .video-img {
  width: 100%;
  padding-top: 56.25%;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 0.8em;
}

.feed-item .video-txt {
  padding-left: 58px;
}

.feed-item .tweet-icon {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -58px;
}

.feed-item .tweet-icon img {
  border-radius: 0.3em;
}

.feed-item .tweet-user,
.feed-item .tweet-text em {
  color: #999;
}
.feed-item .tweet-date {
  color: #555;
}

.feed-item .tweet-user {
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.1em;
  margin-bottom: 0.1em;
}

.feed-item .tweet-text em {
  font-style: normal;
}

.feed-item .tweet-date {
  font-size: 0.7em;
}

.feed-item .video-desc {
  font-size: 0.8em;
  line-height: 1.4em;
  margin-top: 0.5em;
}

dl.details dt {
  float: left;
}

dl.details dd {
  float: left;
  margin-right: 20px;
}

.movies-show li.watched,
.series-show li.watched {
  list-style-type: circle;
  color: #666;
}

.movies-show li.watched a,
.series-show li.watched a {
  color: inherit;
}

.movies-show li.watched a.active,
.series-show li.watched a.active {
  color: #ccc;
  text-shadow: none;
}

.movies-show .poster,
.series-show .poster {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: 0 0 1em rgba(0,0,0, 1);
}

.movies-show .poster img,
.series-show .poster img {
  /* If I use height: 100% instead of this ridiculous hack then the
   * image's height is scaled correctly. But if it was scaled up,
   * rather than down, then its width stays as that of the original
   * image and the aspect ratio is distorted. */
  min-height: 100%;
  max-height: 100%;
}

.feeds-show,
.files-show {
  height: 100%;
  overflow: hidden;
  border-top: 0;
  background: #000;
  margin: 0;
  padding: 0;
}

.feeds-show .container-fluid,
.files-show .container-fluid {
  padding: 0;
}

.files-show object,
.files-show video {
  cursor: none;
  height: 100%;
  width: 100%;
}

.files-search .control-label {
  width: 3em;
}

.files-search .form-horizontal .controls {
  margin-left: 4em;
}

.player-controls {
  position: absolute;
  left: 50%;
  margin-left: -30%;
  bottom: 1em;
  width: 60%;
  background: rgba(0,0,0, 0.8);
  border-radius: 0.3em;
  line-height: 1.5em;
  vertical-align: middle;
}

.player-controls-status,
.player-controls-progress-bar,
.player-controls-progress-num {
  float: left;
  margin-right: 0.7em;
}

.player-controls-status {
  margin-left: 0.8em;
}

.player-controls-progress-bar,
.player-controls-volume-bar {
  border: 1px solid rgba(255,255,255, 0.5);
  width: 55%;
  height: 0.3em;
  line-height: 0;
  margin-top: 0.55em;
  border-radius: 0.2em;
}

.player-controls-progress-bar-inner,
.player-controls-volume-bar-inner {
  width: 0%;
  height: 0.3em;
  border-radius: 0.2em;
  background: rgba(255,255,255, 0.5);
}

.player-controls-progress-num {
  font-size: 0.65em;
  margin-right: 1em;
  vertical-align: top;
}

.player-controls-progress-divider {
  margin: 0 0.3em;
  color: rgba(255,255,255, 0.5);
}

.player-controls-volume {
  float: right;
  margin-right: 0.7em;
}

.player-controls-volume-bar {
  width: 12%;
  float: right;
  margin-right: 0.8em;
}


@media screen and (max-width: 1366px) {
  body {
    font-size: 140%;
  }
}

