html {
  height: 100%;
}

body {
  color: #fff;
  background: #222;
  zoom: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Economica', sans-serif;
}

h1 {
  margin-bottom: 16px;
}

a {
  color: #af4;
}

a:hover, a:focus, a:active {
  outline: 0;
  color: #fff;
  text-shadow: 0 0 10px #4af;
  text-decoration: none;
}

[class^="icon-"], [class*=" icon-"] {
  width: inherit;
  height: inherit;
  line-height: inherit;
  background-image: none;
}

.al { text-align: center; }
.ac { text-align: center; }
.ar { text-align: center; }

.home h3 {
  line-height: 24px;
}

.poster {
  margin-bottom: 16px;
}

.poster a {
  border: 1px solid #222;
}

.poster a:hover,
.poster a:focus,
.poster a:active {
  box-shadow: 0 -2px 16px #af4, 0 0 8px #fff;
  border-color: #fff;
}

.poster-image,
.poster-title {
  display: block;
}

.poster-image,
.poster-title {
  width: 100%;
  height: 130px;
  border-radius: 7px;
}

.poster-image {
  background-size: 100%;
  background-position: 50% 30%;
}

.poster-title {
  background-color: #1a1a1a;
  box-shadow: inset 0 0 8px #0a0a0a;
}

.poster-title span {
  display: block;
  padding: 8px;
  font-family: 'Economica', sans-serif;
  font-weight: bold;
}

dl.details dt {
  float: left;
}

dl.details dd {
  float: left;
  margin-right: 20px;
}

body.files-show {
  height: 100%;
  overflow: hidden;
  cursor: none;
  border-top: 0;
  background: #000;
  margin: 0;
  padding: 0;
}

.files-show .container-fluid {
  padding: 0;
}

.files-show video {
  height: 100%;
  width: 100%;
}

