* {
  cursor: none;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 200%;
  line-height: 1.4em;
  color: #fff;
  background: -webkit-radial-gradient(transparent, rgba(0, 0, 0, 0.5)),
              -webkit-linear-gradient(45deg, #1a1a1a 20%, #242424 20%, #222);
  background-size: 100% 100%, 0.5em 0.5em;
  background-attachment: fixed;
  margin: 1em 1em 2em;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Economica', sans-serif;
  background: -webkit-linear-gradient(#fff 50%, #cea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin: 0.2em 0 0.6em 0;
}

h1 {
  line-height: 1.1em;
}
h2, h3 {
  line-height: 1.6em;
}
h4, h5, h6 {
  line-height: 1.4em;
}

h1 { font-size: 3.00em; }
h2 { font-size: 1.96em; }
h3 { font-size: 1.53em; }
h4 { font-size: 1.09em; }
h5 { font-size: 0.87em; }
h6 { font-size: 0.74em; }

li { line-height: 1.4em; }

a {
  color: #af4;
}

a:hover, a:focus, a:active, a.active {
  outline: 0;
  color: #fff;
  text-shadow: 0 0 0.5em #af4;
  text-decoration: none;
}

[class^="icon-"], [class*=" icon-"] {
  width: inherit;
  height: inherit;
  line-height: inherit;
  background-image: none;
}

.al { text-align: center; }
.ac { text-align: center; }
.ar { text-align: center; }

.img-rounded {
  border-radius: 1em;
}

.home h2 {
  font-size: 2em;
  line-height: 1.3em;
  background: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.poster {
  margin-bottom: 1.2em;
}

.poster a, a.img, a .img {
  border: 2px solid #222;
  border-radius: 0.6em;
  display: block;
}

.poster a img, a.img img, a .img img {
  border-radius: 0.5em;
}

.poster a:hover,  a.img:hover, a:hover .img,
.poster a:focus,  a.img:focus, a:focus .img,
.poster a:active, a.img:active, a:active .img,
.poster a.active, a.img.active, a.active .img {
  border-color: #fff;
  box-shadow: 0 -0.3em 1.8em #af4, 0 0 0.5em #fff;
}

.poster-image,
.poster-title {
  width: 100%;
  height: 11.9em;
}

.poster-image {
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #000;
}

.poster-title {
  color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a1a1a), color-stop(0.7, #0a0a0a));
  box-shadow: inset 0 0 0.5em #0a0a0a;
}

.poster-title span {
  display: block;
  padding: 0.8em;
  font-size: 1.2em;
  font-family: 'Economica', sans-serif;
  font-weight: bold;
}

.feed-item {
  margin-bottom: 1.5em;
}

.feed-item a {
  border: none;
  color: #fff;
  display: block;
  box-shadow: none !important;
  text-shadow: none;
}

.feed-item .video-img,
.feed-item .video-txt,
.feed-item .tweet-text {
  display: block;
}

.feed-item .video-img {
  margin-bottom: 0.8em;
}

.feed-item .video-txt {
  padding-left: 58px;
}

.feed-item .tweet-icon {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -58px;
}

.feed-item .tweet-icon img {
  border-radius: 0.3em;
}

.feed-item .tweet-user,
.feed-item .tweet-text em {
  color: #999;
}
.feed-item .tweet-date {
  color: #555;
}

.feed-item .tweet-user {
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.1em;
  margin-bottom: 0.1em;
}

.feed-item .tweet-text em {
  font-style: normal;
}

.feed-item .tweet-date {
  font-size: 0.7em;
}

.feed-item .video-desc {
  font-size: 0.8em;
  line-height: 1.4em;
  margin-top: 0.5em;
}

dl.details dt {
  float: left;
}

dl.details dd {
  float: left;
  margin-right: 20px;
}

.movies-show .poster,
.series-show .poster {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: 0 0 1em rgba(0,0,0, 1);
}

.movies-show .poster img,
.series-show .poster img {
  /* If I use height: 100% instead of this ridiculous hack then the
   * image's height is scaled correctly. But if it was scaled up,
   * rather than down, then its width stays as that of the original
   * image and the aspect ratio is distorted. */
  min-height: 100%;
  max-height: 100%;
}

body.feeds-show,
body.files-show {
  height: 100%;
  overflow: hidden;
  border-top: 0;
  background: #000;
  margin: 0;
  padding: 0;
}

.feeds-show .container-fluid,
.files-show .container-fluid {
  padding: 0;
}

.files-show object,
.files-show video {
  cursor: none;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 140%;
  }
}

