<h1>Series</h1>

<% min_idx = 0 %>
<% max_idx = @series.count - 1 %>
<% columns = 6 %>

<% @series.each_with_index do |series, i| %>
    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="series span2">
        <h4>
            <%= link_to(series_path(series)) do %>
                <span class="series-image"><%= image_tag(series.image_cached || 'series-image-placeholder.png', width: '100%', alt: nil, class: 'img-rounded') %></span>
                <span class="series-title"><%= series.title %></span>
            <% end %>
        </h4>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
