<div class="row-fluid">
    <div class="span2"><h1>Series</h1></div>
    <div class="span2 pull-right">
        <%= link_to(file_path(@series.sample.video_files.first_watchable), class: 'button', style: 'margin-top: 1.6em;') do %>
            <i class="icon icon-play"></i> Play random
        <% end %>
    </div>
</div>

<% min_idx = 0 %>
<% max_idx = @series.to_a.count - 1 %>
<% columns = 6 %>

<% @series.each_with_index do |series, i| %>
    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="poster span2">
        <% if series.image_cached %>
            <%= link_to('', series_path(series), class: 'poster-image', style: "background-image: url(#{series.image_scaled(*Series::DEFAULT_IMAGE_SIZE)});") %>
        <% else %>
            <%= link_to(series_path(series), class: 'poster-title') do %><span><%= series.title %></span><% end %>
        <% end %>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
