<h1>Series</h1>

<% min_idx = 0 %>
<% max_idx = @series.count - 1 %>
<% columns = 6 %>

<% @series.each_with_index do |series, i| %>
    <% if i == min_idx || i % columns == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="poster span2">
        <% if series.image %>
            <%= link_to('', series_path(series), class: 'poster-image', style: "background-image: url(#{series.image_scaled(275)});") %>
        <% else %>
            <%= link_to(series_path(series), class: 'poster-title') do %><span><%= series.title %></span><% end %>
        <% end %>
    </div>

    <% if i == max_idx || i % columns == columns - 1 %>
        </div>
    <% end %>
<% end %>
